<a href="https://colab.research.google.com/github/robsonpsdesv/analise-ocorrencia-diabetes/blob/master/Ocorr%C3%AAncia_de_Diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd                 
import matplotlib.pyplot as plt    
import numpy as np                
%matplotlib inline

In [285]:
import pickle
from google.colab import files
uploaded = files.upload()

In [286]:
df.shape

(768, 10)

In [287]:
df.head(5)

   num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0         6           148            72  ...   50  1.3790         1
1         1            85            66  ...   31  1.1426         0
2         8           183            64  ...   32  0.0000         1
3         1            89            66  ...   21  0.9062         0
4         0           137            40  ...   33  1.3790         1

[5 rows x 10 columns]

In [288]:
df.tail(5)

     num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
763        10           101            76  ...   63  1.8912         0
764         2           122            70  ...   27  1.0638         0
765         5           121            72  ...   30  0.9062         0
766         1           126            60  ...   47  0.0000         1
767         1            93            70  ...   23  1.2214         0

[5 rows x 10 columns]

In [289]:
df.isnull().values.any()

False

In [0]:
def plot_corr(df, size=10):
    corr = df.corr()    
    fig, ax = plt.subplots(figsize = (size, size))
    ax.matshow(corr)  
    plt.xticks(range(len(corr.columns)), corr.columns) 
    plt.yticks(range(len(corr.columns)), corr.columns)

In [291]:
df.corr()

              num_preg  glucose_conc  ...      skin  diabetes
num_preg      1.000000      0.129459  ... -0.081672  0.221898
glucose_conc  0.129459      1.000000  ...  0.057328  0.466581
diastolic_bp  0.141282      0.152590  ...  0.207371  0.065068
thickness    -0.081672      0.057328  ...  1.000000  0.074752
insulin      -0.073535      0.331357  ...  0.436783  0.130548
bmi           0.017683      0.221071  ...  0.392573  0.292695
diab_pred    -0.033523      0.137337  ...  0.183928  0.173844
age           0.544341      0.263514  ... -0.113970  0.238356
skin         -0.081672      0.057328  ...  1.000000  0.074752
diabetes      0.221898      0.466581  ...  0.074752  1.000000

[10 rows x 10 columns]

In [0]:
diabetes_map = {True : 1, False : 0}

In [0]:
df['diabetes'] = df['diabetes'].map(diabetes_map)

In [294]:
df.head(5)

   num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0         6           148            72  ...   50  1.3790         1
1         1            85            66  ...   31  1.1426         0
2         8           183            64  ...   32  0.0000         1
3         1            89            66  ...   21  0.9062         0
4         0           137            40  ...   33  1.3790         1

[5 rows x 10 columns]

In [295]:
num_true = len(df.loc[df['diabetes'] == True])
num_false = len(df.loc[df['diabetes'] == False])
print("Número de Casos Verdadeiros: {0} ({1:2.2f}%)".format(num_true, (num_true/ (num_true + num_false)) * 100))
print("Número de Casos Falsos     : {0} ({1:2.2f}%)".format(num_false, (num_false/ (num_true + num_false)) * 100))

Número de Casos Verdadeiros: 268 (34.90%)
Número de Casos Falsos     : 500 (65.10%)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
atributos = ['num_preg', 'glucose_conc', 'diastolic_bp', 'thickness', 'insulin', 'bmi', 'diab_pred', 'age']

In [0]:
atrib_prev = ['diabetes']

In [0]:
X = df[atributos].values
Y = df[atrib_prev].values

In [300]:
X
#Y

array([[  6.   , 148.   ,  72.   , ...,  33.6  ,   0.627,  50.   ],
       [  1.   ,  85.   ,  66.   , ...,  26.6  ,   0.351,  31.   ],
       [  8.   , 183.   ,  64.   , ...,  23.3  ,   0.672,  32.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,  26.2  ,   0.245,  30.   ],
       [  1.   , 126.   ,  60.   , ...,  30.1  ,   0.349,  47.   ],
       [  1.   ,  93.   ,  70.   , ...,  30.4  ,   0.315,  23.   ]])

In [0]:
X_treino, X_teste, Y_treino, Y_teste = train_test_split(X, Y, test_size = split_test_size, random_state = 42)

In [302]:
print("{0:0.2f}% nos dados de treino".format((len(X_treino)/len(df.index)) * 100))
print("{0:0.2f}% nos dados de teste".format((len(X_teste)/len(df.index)) * 100))

69.92% nos dados de treino
30.08% nos dados de teste

In [303]:
X_treino

array([[  1.   ,  95.   ,  60.   , ...,  23.9  ,   0.26 ,  22.   ],
       [  5.   , 105.   ,  72.   , ...,  36.9  ,   0.159,  28.   ],
       [  0.   , 135.   ,  68.   , ...,  42.3  ,   0.365,  24.   ],
       ...,
       [ 10.   , 101.   ,  86.   , ...,  45.6  ,   1.136,  38.   ],
       [  0.   , 141.   ,   0.   , ...,  42.4  ,   0.205,  29.   ],
       [  0.   , 125.   ,  96.   , ...,  22.5  ,   0.262,  21.   ]])

In [304]:
print("Original True : {0} ({1:0.2f}%)".format(len(df.loc[df['diabetes'] == 1]), 
                                               (len(df.loc[df['diabetes'] ==1])/len(df.index) * 100)))

print("Original False : {0} ({1:0.2f}%)".format(len(df.loc[df['diabetes'] == 0]), 
                                               (len(df.loc[df['diabetes'] == 0])/len(df.index) * 100)))
print("")
print("Training True : {0} ({1:0.2f}%)".format(len(Y_treino[Y_treino[:] == 1]), 
                                               (len(Y_treino[Y_treino[:] == 1])/len(Y_treino) * 100)))

print("Training False : {0} ({1:0.2f}%)".format(len(Y_treino[Y_treino[:] == 0]), 
                                               (len(Y_treino[Y_treino[:] == 0])/len(Y_treino) * 100)))
print("")
print("Test True : {0} ({1:0.2f}%)".format(len(Y_teste[Y_teste[:] == 1]), 
                                               (len(Y_teste[Y_teste[:] == 1])/len(Y_teste) * 100)))

print("Test False : {0} ({1:0.2f}%)".format(len(Y_teste[Y_teste[:] == 0]), 
                                               (len(Y_teste[Y_teste[:] == 0])/len(Y_teste) * 100)))

Original True : 268 (34.90%)
Original False : 500 (65.10%)

Training True : 188 (35.01%)
Training False : 349 (64.99%)

Test True : 80 (34.63%)
Test False : 151 (65.37%)

In [305]:
df.isnull().values.any()

False

In [306]:
df.head(5)

   num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0         6           148            72  ...   50  1.3790         1
1         1            85            66  ...   31  1.1426         0
2         8           183            64  ...   32  0.0000         1
3         1            89            66  ...   21  0.9062         0
4         0           137            40  ...   33  1.3790         1

[5 rows x 10 columns]

In [307]:

print("# Linhas no dataframe {0}".format(len(df)))
print("# Linhas missing glucose_conc: {0}".format(len(df.loc[df['glucose_conc'] == 0])))
print("# Linhas missing diastolic_bp: {0}".format(len(df.loc[df['diastolic_bp'] == 0])))
print("# Linhas missing thickness: {0}".format(len(df.loc[df['thickness'] == 0])))
print("# Linhas missing insulin: {0}".format(len(df.loc[df['insulin'] == 0])))
print("# Linhas missing bmi: {0}".format(len(df.loc[df['bmi'] == 0])))
print("# Linhas missing age: {0}".format(len(df.loc[df['age'] == 0])))

# Linhas no dataframe 768
# Linhas missing glucose_conc: 5
# Linhas missing diastolic_bp: 35
# Linhas missing thickness: 227
# Linhas missing insulin: 374
# Linhas missing bmi: 11
# Linhas missing age: 0

In [0]:
from sklearn.naive_bayes import GaussianNB

In [0]:
modelo_v1 = GaussianNB()

In [310]:
modelo_v1.fit(X_treino, Y_treino.ravel())

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
from sklearn.linear_model import LogisticRegression
import sklearn.metrics as metrics

In [312]:
modelo_v3 = LogisticRegression(C = 0.7, random_state = 42)
modelo_v3.fit(X_treino, Y_treino.ravel())

lr_predict_test = modelo_v3.predict(X_teste)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [313]:
print("Exatidão (Accuracy): {0:.4f}".format(metrics.accuracy_score(Y_teste, lr_predict_test)))
print()
print("Classification Report")
print(metrics.classification_report(Y_teste, lr_predict_test, labels = [1, 0]))

Exatidão (Accuracy): 0.7403

Classification Report
              precision    recall  f1-score   support

           1       0.62      0.62      0.62        80
           0       0.80      0.80      0.80       151

    accuracy                           0.74       231
   macro avg       0.71      0.71      0.71       231
weighted avg       0.74      0.74      0.74       231